* {
  margin: 0;
  padding: 0;
}

body {
  height: auto;
}

#logo {
  background: black no-repeat center center;
  width: 100%;
  height: 9.9%;
  background-size: 402px auto;
  position: fixed;
  border-top: 3px solid #00b0f1;
  border-bottom: 3px solid #00b0f1;
  float: left;
}

#logo img {
  margin: 1% 0 0 40%;
}

#okno {
  cursor: pointer;
  margin-top: 0.9%;
  margin-left: 93%;
  z-index: 2;
  position: fixed;
}

#menu {
  background: #332f2c no-repeat;
  height: auto;
  width: 10%;
  margin-top: 5%;
  margin-left: 86%;
  display: none;
  z-index: 3;
  position: fixed;
}

#menu li a {
  color: white;
  text-decoration-line: none;
}

#menu li {
  list-style-type: none;
  cursor: pointer;
  color: white;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 6px;
}

#menu li:last-child {
  padding-bottom: 10px;
}

#menu li:hover{
  background: #474A51;
}

.lenta {
  flex-direction: column;
}

.block {
  margin:18% 20% 12% 20%;
  display: block;
}

#date {
  background: black;
  color: yellow;
  font-size: 1.25em;
  width: auto;
  height: auto;
  float: left;
  margin-bottom: 0;
  padding: 5px;
  border-radius: 0% 0% 0% 0%;
  border: 2px solid #00b0f1;
  text-align: center;
}

#post {
  background: black;
  color: yellow;
  font-size: 1.35em;
  float: left;
  width: 60%;
  height: auto;
  margin-top: 0.6%;
  padding: 4px 8px;
  border-radius: 0% 0% 0% 0%;
  border: 2px solid #00b0f1;
}

.photo {
  display: block;
  flex-direction: row;
  margin-top: 0.79%;
}

.nextpost {
  margin: 0 20% 12% 20%;
  display: block;
}

.p {
  margin-top: 0.4em;
}

@media only screen and (max-width: 767px) {
  #post {
    width: 90%;
  }

  .block {
    margin: 18% 5% 12% 5%;
  }

  .nextpost {
    margin: 0 5% 12% 5%;
  }
  
  #okno {
    margin-top: 1.5%;
    margin-left: 83%;
  }
}

@media only screen and (min-width: 768px) {
  #post {
    width: 84%;
  }

  .block {
    margin: 25% 8% 12% 8%;
  }

  .nextpost {
    margin: 0 8% 12% 8%;
  }
}

@media only screen and (min-width: 1024px) {
  #post {
    width: 76%;
  }

  .block {
    margin: 16% 12% 12% 12%;
  }

  .nextpost {
    margin: 0 12% 12% 12%;
  }
}

@media only screen and (min-width: 1366px) {
  #post {
    width: 70%;
  }

  .block {
    margin: 16% 15% 12% 15%;
  }

  .nextpost {
    margin: 0 15% 12% 15%;
  }
}

@media only screen and (min-width: 1920px) {
  #post {
    width: 60%;
  }

  .block {
    margin:18% 20% 12% 20%;
  }

  .nextpost {
    margin: 0 20% 12% 20%;
  }
}
